tensorflow==2.20.0
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.9.1
seaborn==0.13.2
requests==2.32.3
locust==2.31.5
Pillow==10.4.0